body {
    background-color: #0d0e0e;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

::-webkit-scrollbar {
    background-color: #0d0e0e;
    width: 0.8vw;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff46;
}

@font-face {
    font-family: gilker;
    src: url(./assets/Gliker-Regular.ttf);
}

header {
    width: 99.2vw;
    height: 15vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
}

#div_logo {
    width: 75vw;
    height: 15vh;
    display: flex;
    align-items: center;
}

#logo {
    width: 8.5vw;
    height: 14vh;
}

#navBar {
    width: 25vw;
    display: flex;
    align-items: center;
    gap: 3%;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

* > a {
    text-decoration: none;
}

.div_button {
    border: 0.15em solid #ffffffaf;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.text {
    color: #ffffff;
    font-family: gilker;
    font-size: 1.5em;
    margin: 0.5em;
}

:hover .div_button{
    border: 0.15em solid #ffffff;
}

#main_video {
    width: 99.2vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

video {
    width: 99.2vw;
}

#div_slogan {
    position: absolute;
    width: 99.2vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: gilker;
    gap: 3vh;
    background-color: #00000075;
}

#slogan_sombra {
    color: #000000;
    font-size: 5em;
    margin-top: 0.8vh;
}

#slogan {
    position: absolute;
    font-size: 5em;
    margin-left: 0.5vw;
}

#div_slogan_button {
    border: 0.15em solid #ffffffaf;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

:hover #div_slogan_button{
    border: 0.15em solid #ffffff;
}

#slogan_button {
    font-size: 3em;
    margin: 0.5em;
    color: #550B5B;
}

#main_time {
    width: 99.2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main_time > h1 {
    font-family: gilker;
    font-size: 3em;
    margin-top: 3vw;
}

#time_all_star {
    width: 90vw;
}