body {
    background-color: #0d0e0e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: gliker;
    src: url(../assets/Gliker-Regular.ttf);
}

.oculto {
    display: none !important;
}

.blur {
    filter: blur(5px);
}

/* TELA DE LOGIN/CADASTRO */
#container_login_cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensagem_login {
    width: 20%;
    height: 75%;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    font-family: gliker;
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
}

#logo {
    width: 10vw;
    height: 15vh;
    margin-top: 1vh;
}

#index_login {
    width: 35%;
    height: 75%;
    display: flex;
    border-radius: 0px 20px 20px 0px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: gliker;
    color: #ffffff;
    background-color: black;
}

#container_seletor {
    width: 70%;
    height: 10%;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#login {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#login>span,
#cadastro> span {
    font-size: 2vw;
    font-weight: 100;
    transition: 0.25s;
}

#cadastro {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#container_login {
    width: 90%;
    height: 90%;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    font-weight: 100;
}

.input_formulario {
    width: 90%;
    height: 4vh;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #ffffff;
    border-radius: 2px;
    font-size: 1.2vw;
    color: #ffffff;
}

.div_botao {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_button {
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    font-family: gliker;
    font-size: 1.5vw;
    margin-top: 3vh;
}

#container_cadastro {
    width: 90%;
    height: 90%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    font-weight: 100;
}

.div_erro {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    color: #ff2525;
    font-size: 1.1vw;
    font-weight: 100;
}


/* MONTAGEM DE TIME */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    font-family: gliker;
}

aside {
    width: 23.7vw;
    height: 95vh;
    background-color: #0077C0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

/* PAINEL MENSAGENS */
#container_mensagens {
    width: 30vw;
    height: 10vh;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0077C0;
    bottom: 90vh;
    border-radius: 0px 0px 10px 10px;
    border: solid white;
    color: #ffffff;
    font-family: gliker;
    font-size: 1.2vw;
    transition: 0.5s;
    text-align: center;
}

/* PARTE ESQUERDA, INFO DO USUARIO */
#info_user {
    width: 100%;
    height: 15%;
    border-bottom: solid #0000004b;
    display: flex;
    flex-direction: column;
}

#div_nome_time {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-weight: 100;
    word-break: break-all;
}

#div_dinheiro_time {
    width: 100%;
    height: 60%;
    display: flex;
}

.div_valor {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    font-size: 1.2vw;
}

.div_jogador {
    width: 100%;
    height: 16.6%;
    border-bottom: solid #0000004b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.jogador_hover {
    background-color: #1D428A;
    box-shadow: inset;
}

#jogador4 {
    border-radius: 0px 0px 20px 20px !important;
}

.background_remove {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98002E;
    border-radius: 10px;
}

.icon_minus {
    width: 80%;
    height: 120%;
}

/* PARTE DO MEIO, QUADRA */
#div_quadra {
    width: 51vw;
    height: 95vh;
    display: flex;
    background-image: url(../assets/img/quadraBasquete.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.add_jogador {
    width: 5vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    z-index: 1;
}

.div_img_jogador_add {
    width: 5vw;
    height: 10vh;
    background-color: #00000085;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    overflow: hidden;
}

.icon_plus {
    width: 80%;
    height: 80%;
}

#div_jogador0 {
    left: 44.8%;
    top: 81%;
}

#div_jogador1 {
    top: 68%;
}

#div_jogador2 {
    left: 60%;
    top: 68%;
}

#div_jogador3 {
    top: 25%;
    left: 41%;
}

#div_jogador4 {
    top: 25%;
    right: 20%;
}

.nome_jogador {
    width: 20vw;
    height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 100;
    opacity: 0;
}

.ajustar_foto_jogador {
    width: 8vw;
    height: 10vh;
    object-fit: contain;
}

.add_jogador_hover {
    transform: scale(1.3);
}

.add_img_jogador_hover {
    background-color: #0a0a0aaf;
}

.nome_jogador_hover {
    opacity: 1;
}

#container_enviar_time {
    width: 12vw;
    height: 7vh;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    top: 90%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #000000be;
    transition: 0.25s;
}

#div_icon_enviar_time {
    width: 25%;
    height: 100%;
    background-color: #006128;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

#div_text_enviar_time {
    width: 75%;
    height: 100%;
    background-color: #007A33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 100;
    border-radius: 0px 10px 10px 0px;
}

#icon_seta {
    width: 90%;
    height: 70%;
}

#container_enviar_time:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px #000000be;
}

/* TELA PARA O ADMIN */
#div_gerador {
    width: 8vw;
    height: 7vh;
    background-color: #ff8c00;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #000000be;
    transition: 0.25s;
    color: #ffffff;
}

#div_controle {
    width: 8vw;
    height: 7vh;
    background-color: #98002E;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    left: 67.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #000000be;
    transition: 0.25s;
    color: #ffffff;
}

#div_gerador:hover,
#div_controle:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px #000000be;
}

/* PARTE DA DIREITA, MERCADO*/
#titulo_mercado {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    font-weight: 100;
}

#container_jogadores_mercado {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

#container_jogadores_mercado::-webkit-scrollbar {
    width: 7px;
}

#container_jogadores_mercado::-webkit-scrollbar-track {
    background: transparent;
}

#container_jogadores_mercado::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

.container_jogador_mercado {
    width: 100%;
    min-height: 16.6%;
    display: flex;
    border-bottom: solid #0000004b;
    flex-direction: row;
    transition: 0.25s;
}

.container_jogador_mercado:hover {
    background-color: #1D428A;
}

.div_img_jogador {
    width: 6vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_jogador {
    width: 10vw;
    height: 100%;
}

.container_info_jogador {
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 100;
}

.div_nome_jogador {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    word-break: break-all;
}

.div_valor_add {
    width: 100%;
    height: 60%;
    display: flex;
}

.div_info_jogador {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    text-align: center;
}

.div_add_jogador {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_add {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007A33;
    border-radius: 10px;
}

/* EFEITO DRAGGING */
/* .dragging {
    width: 10vw !important;
    height: 15vh !important;
}

.dragging>.div_info_jogador {
    display: none !important;
} */